@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Faces */

@font-face {
  font-family: 'canterbury';
  src: url('/FontFaces/canterbury/Canterbury.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'canopee';
  src: url('/FontFaces/canopeeRegular/Canopee Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'DomaineDisplay';
  src: url('/FontFaces/DomaineDisplay/TestDomaineDisplayNarrow-Medium-BF66174a222b7b0.otf')
    format('opentype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'DomaineDisplayItalic';
  src: url('/FontFaces/DomaineDisplay/TestDomaineDisplayNarrow-MediumItalic-BF66174a21a5b2e.otf')
    format('opentype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Cheltenham';
  src: url('/FontFaces/cheltenham/cheltenham-cond-normal-700.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'cormorantBold';
  src: url('/FontFaces/cormorantGaramond/CormorantGaramond-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'cormorantMedium';
  src: url('/FontFaces/cormorantGaramond/CormorantGaramond-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'aldhabi';
  src: url('/FontFaces/aldhabi/aldhabi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

/* Eb Garamond fonts */
@font-face {
  font-family: 'EBGaramond-Regular';
  src: url('/FontFaces/EbGaramond/EBGaramond-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'EBGaramond-Italic';
  src: url('/FontFaces/EbGaramond/EBGaramond-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'EBGaramond-Medium';
  src: url('/FontFaces/EbGaramond/EBGaramond-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'EBGaramond-MediumItalic';
  src: url('/FontFaces/EbGaramond/EBGaramond-MediumItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'EBGaramond-SemiBold';
  src: url('/FontFaces/EbGaramond/EBGaramond-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'EBGaramond-SemiBoldItalic';
  src: url('/FontFaces/EbGaramond/EBGaramond-SemiBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'EBGaramond-Bold';
  src: url('/FontFaces/EbGaramond/EBGaramond-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'EBGaramond-BoldItalic';
  src: url('/FontFaces/EbGaramond/EBGaramond-BoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'EBGaramond-ExtraBold';
  src: url('/FontFaces/EbGaramond/EBGaramond-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'EBGaramond-ExtraBoldItalic';
  src: url('/FontFaces/EbGaramond/EBGaramond-ExtraBoldItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'Gloucester';
  src: url('/FontFaces/gloucester/Gloucester Bold Cond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: 'I-Am-Awake';
  src: url('/FontFaces/iamawake/I-Am-Awake.ttf') format('truetype'),
    url('/FontFaces/iamawake/I-Am-Awake.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  text-rendering: optimizeLegibility;
  size-adjust: 80%; /* Reduces the default size by 15% */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('/OtherImg/NewsPaper_texture.png');
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bg-navBg {
  background-image: url('/OtherImg/NewsPaper_texture.png');
}

.text-darkish {
  color: #666;
}

.placeholder-text-darkish::placeholder {
  color: #666;
}

.bg-darkish {
  background-color: #666;
}

.bg-darkish-50 {
  background-color: rgba(102, 102, 102, 0.5);
}

.border-darkish {
  border-color: #666;
}

.border-darkish-50 {
  border-color: rgba(102, 102, 102, 0.5);
}

/* .shadow-top {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Adjust values for desired effect */
/* } */

/* img.filter-grayscale {
  filter: grayscale(1) !important;
} */

input,
button {
  outline: none;
}

.slick-slide > div {
  margin: 0 2px;
}

.text-lightish {
  color: #b8b8b8;
}

.bg-lightish {
  background-color: #b8b8b8;
}

.hover-bg-lightish:hover {
  background-color: #b8b8b8;
}

.hover:bg-lightish:hover {
  background-color: #b8b8b8;
}

.border-lightish {
  border-color: #b8b8b8;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #333 !important;
}

/* style scroll-bar */
::-webkit-scrollbar {
  width: 8px; /* Width for vertical scrollbar */
  height: 8px; /* Height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #a7a7a7;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #747474;
}

::-webkit-scrollbar-corner {
  display: none;
}

/* Reports scroll-bar */
.reportScroll::-webkit-scrollbar {
  width: 8px; /* Width for vertical scrollbar */
  height: 8px; /* Height for horizontal scrollbar */
}

.reportScroll::-webkit-scrollbar-track {
  background-color: #222222;
}

.reportScroll::-webkit-scrollbar-thumb {
  background-color: #444444;
}

.reportScroll::-webkit-scrollbar-thumb:hover {
  background-color: #111111;
}

.reportScroll::-webkit-scrollbar-corner {
  display: none;
}

.container.home {
  display: flex;
  flex-direction: column;
}

.divA,
.divB {
  display: flex;
  flex-direction: column;
}

.container.post {
  display: flex;
  flex-direction: column;
}

/* Move div5 to divB */
.container.post .divB {
  display: flex;
  flex-direction: column;
}

.container.post .div5 {
  order: -1; /* Moves div5 to the top inside divB */
}

/* Move div1 inside div4 */
.container.post .div4 {
  display: flex;
  flex-direction: column;
}

.container.post .div1 {
  order: 1; /* Moves div1 inside div4 */
}

/* Move div3 outside */
.container.post .div3 {
  position: relative;
  order: -2; /* Moves div3 outside */
}
